<mat-toolbar class="header" color="primary">
  <nav mat-tab-nav-bar color="accent">
    <a
      mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      <div *ngIf="link.icon">
        <mat-icon>{{ link.icon }}</mat-icon>
      </div>
      <div *ngIf="!link.icon">{{ link.label }}</div>
    </a>
  </nav>
  <span class="spacer"></span>

  <a
    mat-raised-button
    color="accent"
    href="https://drive.google.com/open?id=1lYAr1FHSi0Fh0gX4MhRFFBFPemlKZ56m"
    target="_blank"
  >
    RESUME
  </a>
</mat-toolbar>
