<!-- [@arrayAnimation]  -->
<div class="container">
  <mat-card class="item">
    <img mat-card-image src="assets/images/cu-logo.png" alt="CaughtUp" />
    <mat-card-title>
      CaughtUp LLC
    </mat-card-title>

    <mat-card-content>
      Founding member, share holder, and Webmaster for
      <a href="https://caughtup-app.com/index.html" target="_blank">CaughtUp</a
      >.
      <br />
      <br />
      This startup is designed to motivate us to dive into new projects in the
      pursuit of knowledge and the common good. <br />
      <br />
      I also aid with management and certain design decisions. For example, I
      helped craft our current logo.
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <img mat-card-image src="assets/images/jitterNN.png" alt="" />
    <mat-card-title>
      Neural Networks
    </mat-card-title>

    <mat-card-content>
      Max Jitter is usually used for video processing. However, by researching
      the fundamentals of Neural Networks and sprinkling some Javascript I found
      a creative way to utilize the software to make a visual representation of
      a Neural Network. This basic patch was capable of computing the output of
      an XOR gate while ignoring noise input.
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <img mat-card-image src="assets/images/musicalNN.png" alt="" />
    <mat-card-title>
      Computer Music
    </mat-card-title>
    <mat-card-content>
      By building on my previous work and leveraging Max's audio capabilities I
      created a more complex Max patch that allows one to both hear and see the
      network learning. Musical flare added to make it more interesting.
      <br />
      <br />
      <h3>Headphones recommended (can't guarantee you'll like it):</h3>
      <audio controls class="audio">
        <source src="assets/sounds/nnSample.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
      <h3>Another Max sample:</h3>
      <audio controls class="audio">
        <source src="assets/sounds/combinedSample.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
      <h3>Midterm project sample:</h3>
      <audio controls class="audio">
        <source src="assets/sounds/midtermSample.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
      <br />
      The 16-channel piece was presented at Virginia Tech's
      <a href="https://icat.vt.edu/the-cube/" target="_blank">"The Cube." </a>
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <img mat-card-image src="assets/images/sentanal.png" alt="" />
    <mat-card-title>
      Sentiment Analysis
    </mat-card-title>
    <mat-card-content>
      <a href="https://github.com/MLayne1/Sentanal" target="_blank">Sentanal</a>
      was a basic Sentiment Analysis project designed to provide insights
      towards the truthfullness of a news article based on word frequency.
      <br />
      <br />
      As a team we compared the accuracy of two Naive Bayes Classifiers which we
      implemented utlizing two different Python libraries, TextBlob and NLTK.
    </mat-card-content>
  </mat-card>

  <!-- <mat-card class="item">
    <img mat-card-image src="assets/images/unreal.png" alt="" />
    <mat-card-title> Game Development </mat-card-title>
    <mat-card-content>
      Currently working on a team project using Unreal Engine. More Details to
      come once the project is finished...
      <br />
      <br />
      My current task is to help the team deploy the game online.
    </mat-card-content>
  </mat-card> -->

  <mat-card class="item">
    <img mat-card-image src="assets/images/linux.png" alt="" />
    <mat-card-title> Linux Laptop Orchestra (L2Ork) </mat-card-title>
    <mat-card-content>
      <a href="http://l2ork.music.vt.edu/main/what-is-l2ork-2/" target="_blank"
        >L2Ork</a
      >
      explores the integration of arts and technology. <br />
      <br />As a class we presented different musical pieces at "The Cube" and
      got the experience of collaborating with world-renown composer
      <a href="https://www.manudelago.com/" target="_blank"> Manu Delago</a> and
      internationally accomplished multi-instrumentalist
      <a href="http://www.isakurz.com/isa.html" target="_blank"> Isa Kurz.</a>
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <img mat-card-image src="assets/images/cyberleaders.png" alt="" />
    <mat-card-title>
      Cybersecurity
    </mat-card-title>

    <mat-card-content>
      The
      <a href="https://www.hume.vt.edu/cyberlead" target="_blank"
        >CyberLeaders program</a
      >
      is designed to help students broaden their understanding of policy,
      regulation, and the engineering challenges in cybersecurity. <br />
      <br />
      The semester-long Capstone Research program involved an interdisciplinary
      discussion of the nature of "Fake News," and the potential use of Machine
      Learning to mitigate the issue.
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <img mat-card-image src="assets/images/culture.png" alt="" />
    <mat-card-title>
      Language and Culture
    </mat-card-title>
    <mat-card-content>
      Due to my ethnical background I've had experience living abroad in Mexico.
      I'm fully bilingual with 10+ years of experience with Spanish.
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <img mat-card-image src="assets/images/dragon.png" alt="" />
    <mat-card-title>
      Dragon Boat
    </mat-card-title>
    <mat-card-content>
      There are no star players in Dragon Boat, victory is achieved through
      determination, discipline, and team-work. <br />
      <br />
      I've had the honor of representing the United States during the 2015 World
      Championships earning two bronze medals for the 500m and 2000m races
      (Under 18 division).
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <img mat-card-image src="assets/images/drawing.png" alt="" />
    <mat-card-title>
      Drawing
    </mat-card-title>
    <mat-card-content>
      I aim for a high standard of creativty and passion in everything I do. I
      have experience with graphical software such as Clip Studio, Corel
      Painter, and Photoshop.
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <img mat-card-image src="assets/images/website.png" alt="" />
    <mat-card-title> This Website </mat-card-title>
    <mat-card-content>
      It Started as a project for my Technical Writing class. However, since I
      wasn't fully pleased with the original provided template I decided to
      re-do the project utilzing new skills such as Angular.
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <img mat-card-image src="assets/images/housing.png" alt="" />
    <mat-card-title>
      Student Housing Guide
    </mat-card-title>

    <mat-card-content>
      The class project was to design a
      <a href="https://studenthousing.vttw.org/" target="_blank">website</a> to
      help upcoming alumni in search of student housing. To do so, we conducted
      research on different common choices and created a site aggregate.
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <img mat-card-image src="assets/images/gencyber.png" alt="" />
    <mat-card-title> GenCyber Teaching Assistant </mat-card-title>
    <mat-card-content>
      "GenCyber is a week-long camp to teach high school teachers about computer
      security and how to teach it to their students." <br /><br />
      As a TA my job was to ensure that the teachers had a great experience and
      ensure that they left the camp feeling "delighted." I helped with table
      set-up and helped guide them through some of their technical questions
      related to the course.
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <img mat-card-image src="assets/images/hack1.png" alt="" />
    <mat-card-title> STEM Club (HS)</mat-card-title>
    <mat-card-content>
      Since High School I've been interested in constantly learning. Early
      coding experience.
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <img mat-card-image src="assets/images/hack3.png" alt="" />
    <mat-card-title> SheHacks VT Hackathon </mat-card-title>
    <mat-card-content>
      Had fun creating a front end for
      <a href="https://luis-c.github.io/SheHacks-VT/home"> MakeMeGo </a>
      a small hackathon idea about using geolocation to check-into events and
      goals.
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <img mat-card-image src="assets/images/hack2.png" alt="" />
    <mat-card-title> VT Arduino Hackathon </mat-card-title>
    <mat-card-content>
      Played around with arduinos!
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <!-- <img mat-card-image src="assets/images/placeholder.png" alt="" /> -->
    <mat-card-title> VT Hacks 7</mat-card-title>
    <mat-card-content>
      Coming Soon!
    </mat-card-content>
  </mat-card>
</div>

<!-- <mat-card class="item">
  <img mat-card-image src="assets/images/placeholder.png" alt="" />
    <mat-card-title> </mat-card-title>
    <mat-card-content> </mat-card-content>
  </mat-card> -->
