@import "~@angular/material/theming";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;

  padding-top: 70px;
  padding-bottom: 70px;

  height: calc(100vh - 140px);

  max-width: 1440px;
  margin: auto;
}

.item {
  display: inline-block;
  max-width: 300px;
  margin: 1em 2px 2px 2px;

  transition: 0.5s;

  &:hover {
    @include mat-elevation(12);
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
  }
}

.audio {
  width: 100%;
}

// @media only screen and (max-width: 1500px) {
//   .container {
//     column-count: 3;
//   }
// }

// @media only screen and (max-width: 1000px) {
//   .container {
//     column-count: 2;
//   }
// }

// @media only screen and (max-width: 500px) {
//   .container {
//     column-count: 1;
//   }
// }
