
.container {
  width: 100%;
  column-count: 4;
  column-gap: 10px;
}

.item {
  display: inline-block;
  margin: 1em 2px 2px 2px;
}

.audio {
  width: 100%;
}

@media only screen and (max-width: 1500px) {
  .container {
    column-count: 3;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    column-count: 2;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    column-count: 1;
  }
}
