<mat-toolbar color="primary" class="footer">
  &copy; Luis Hernandez
  <a mat-icon-button href="https://www.instagram.com/siul_ch/?hl=en" target="_blank">
    <fa-icon [icon]="['fab', 'instagram']" size="lg"></fa-icon>
  </a>
  <a mat-icon-button href="https://www.linkedin.com/in/luis-angel-cabrera-hernandez-113ba0149/" target="_blank">
    <fa-icon [icon]="['fab', 'linkedin']" size="lg"></fa-icon>
  </a>
  <a mat-icon-button href="https://github.com/Luis-C" target="_blank">
    <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
  </a>
  <a mat-flat-button href="mailto:ziul.ch@gmail.com"color="accent">
    <mat-icon>email</mat-icon>
    Contact
  </a>
</mat-toolbar>
