.footer {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: absolute;
  bottom: 0;
  background-color: rgba($color: #d50000, $alpha: 0.6);
  backdrop-filter: blur(10px);
}

.mat-icon-button:hover {
  transform: scale(1.1) rotate(360deg);
  transition: 0.4s;
}
