@import '~@angular/material/theming';

@include mat-core();

$my-primary: mat-palette($mat-red, 800);
$my-accent: mat-palette($mat-cyan, 900);
$my-warn: mat-palette($mat-yellow);
$my-dark-theme: mat-dark-theme($my-primary, $my-accent, $my-warn);

@include angular-material-theme($my-dark-theme);

// Define a custom typography config that overrides the font-family as well as the'Lobster, sans-serif'
// $cu-typography: mat-typography-config(
//     $font-family:   'Muli, sans-serif', /* Main Font */
//     $display-4:     mat-typography-level(112px, 112px, 300, 'Lobster, sans-serif',$letter-spacing: -0.05em),
//     $display-3:     mat-typography-level(56px, 56px, 400, 'Lobster, sans-serif',$letter-spacing: -0.02em),
//     $display-2:     mat-typography-level(45px, 48px, 400, 'Lobster, sans-serif' ,$letter-spacing: -0.005em),
//     $display-1:     mat-typography-level(34px, 40px, 400, 'Lobster, sans-serif'),
//     $headline:      mat-typography-level(24px, 32px, 400, 'Lobster, sans-serif'), /*h1*/
//     $title:         mat-typography-level(20px, 32px, 500, 'Lobster, sans-serif'), /*h2*/
//     $subheading-2:  mat-typography-level(17px, 28px, 400, 'Lobster, sans-serif'), /*h3*/
//     $subheading-1:  mat-typography-level(16px, 24px, 400, 'Lobster, sans-serif'), /*h4*/
//     $body-2:        mat-typography-level(14px, 24px, 500),
//     $body-1:        mat-typography-level(13px, 20px, 400),
//     $caption:       mat-typography-level(12px, 20px, 400),
//     $button:        mat-typography-level(14px, 14px, 500, 'Lobster, sans-serif'),
//     $input:         mat-typography-level(inherit, 1.125, 400)
// );

// Be sure that you only ever include this mixin once!
// @include mat-core($cu-typography);
