<!-- TODO: add links -->

<mat-card class="sample">
  <img mat-card-image src="assets/images/jitterNN.png" alt="" />
  <mat-card-title>
    Machine Learning
  </mat-card-title>

  <mat-card-content>
    Using Max-MSP and JavaScript I created a basic multi-layer neural network.
  </mat-card-content>
</mat-card>

<mat-card class="sample">
  <img mat-card-image src="assets/images/musicalNN.png" alt="" />
  <mat-card-title>
    Computer Music
  </mat-card-title>
  <mat-card-content>
    With Jitter objects the Max patch allows you to both hear and see the
    network learning. Leveraging Max's audio capabilities I transformed the
    noise into something more appealing.
    <br />
    <h2>Hear the transformation:</h2>
    <audio controls>
      <source src="assets/sounds/nnSample.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>

    <h2>Another Max sample:</h2>
    <audio controls>
      <source src="assets/sounds/combinedSample.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>

    <h2>Midterm project sample:</h2>
    <audio controls>
      <source src="assets/sounds/midtermSample.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
    <br />
    The final 16-channel piece was presented at Virginia Tech's "The Cube."
  </mat-card-content>
</mat-card>

<mat-card class="sample">
  <img mat-card-image src="assets/images/drawing.png" alt="" />
  <mat-card-title>
    Drawing
  </mat-card-title>
  <mat-card-content>
    I aim for a high standard of creativty and passion in everything I do. I
    have experience with graphical software such as Clip Studio, Corel Painter,
    and Photoshop.
  </mat-card-content>
</mat-card>
<mat-card class="sample">
  <img mat-card-image src="assets/images/cu.png" alt="" />
  <mat-card-title>
    CaughtUp
  </mat-card-title>

  <mat-card-content>
    I'm a Webmaster for the beta mobile application CaughtUp, employing tools
    like flutter and CSS. I also aid in the app's design and created our current
    logo.
  </mat-card-content>
</mat-card>

<mat-card class="sample">
  <img mat-card-image src="assets/images/cyberleaders.png" alt="" />
  <mat-card-title>
    CyberLeaders
  </mat-card-title>

  <mat-card-content>
    The program is designed to help students broaden their understanding of
    policy, regulation, and the engineering challenges in Cybersecurity.
  </mat-card-content>
</mat-card>

<mat-card class="sample">
  <img mat-card-image src="assets/images/placeholder.png" alt="" />
  <mat-card-title>
    Sentiment Analysis
  </mat-card-title>

  <mat-card-content>

  </mat-card-content>
</mat-card>

<mat-card class="sample">
  <img mat-card-image src="assets/images/culture.png" alt="" />
  <mat-card-title>
    Language and Culture
  </mat-card-title>
  <mat-card-content>
    Due to my ethnical background I've had experience living abroad in Mexico.
    I'm fully bilingual with 10+ years of experience with Spanish.
  </mat-card-content>
</mat-card>

<mat-card class="sample">
  <img mat-card-image src="assets/images/housing.png" alt="" />
  <mat-card-title>
    Student Housing Guide
  </mat-card-title>

  <mat-card-content>
    The class project was to design a website to help upcoming alumni in search
    of student housing.
  </mat-card-content>
</mat-card>

<mat-card class="sample">
  <img mat-card-image src="assets/images/dragon.png" alt="" />
  <mat-card-title>
    Dragon Boat
  </mat-card-title>
  <mat-card-content>
    There are no star players in Dragon Boat, victory is achieved through
    determination, discipline, and team-work.
  </mat-card-content>
</mat-card>

<!-- <mat-card>
    <mat-card-title> </mat-card-title>
    <mat-card-content> </mat-card-content>
  </mat-card> -->
