.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  height: 470px;
  margin: 5px;
}

@media only screen and (max-width: 700px) {
  .card {
    width: 100vw;
    height: auto;
  }
}
