.container {
  // width: 100%;
  // column-count: 4;
  // column-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: auto;
  min-width: 300px;
  width: 25vw;
  margin: 15px 5px 5px 5px;
}

@media only screen and (max-width: 700px) {
  .card {
    width: 100vw;
    height: auto;
  }
}
